/* Default Styles */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary: #351c75;
    --secondary: #dcacf3;
}

/* Header + Timer */

header {
    padding: 20px 10px 100px 10px;
}

header h1 {
    font-size: 1rem;
    display: inline-block;
}

.timer {
    float: right;
}

/*Intro Page*/

.intro {
    text-align: center;
    padding: 10px 100px 0px 100px;
}

.quiz-title {
    font-size: 2.5rem;
}

.intro p {
    font-size: 1.5rem;
}

/* Buttons */

.button {
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 10em;
    margin: 5px 200px 5px 200px;
}

.button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.button-link {
    color: var(--secondary);
    background-color: white;
    border: none;
    font-size: 1rem;
    float: left;
}

/* Quiz Questions */

.question {
    font-size: 2.5rem;
    padding: 10px 200px 10px 200px;
}

/* Scoring */

.form {
    padding: 10px 200px 10px 200px; 
}

.display-score {
    background-color: lavender;
    padding: 10px 10px 10px 10px;
    margin: 10px 100px 10px 200px;
    list-style-type: none;
}